<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	<title>Kissing Both</title>
</head>
<body>
	<nav class="nav">
		<div class="container">
			<div class="nav-row">
				<div class="nav-row__logo">
					<a href="./index.html" class="logo__text"><strong>My first</strong> portfolio</a>
				</div>

				<ul class="nav-list">
					<li class="nav-list__item"><a href="./index.html" class="nav-list__link nav-list__link--active">#</a></li>
					<li class="nav-list__item"><a href="./project.html" class="nav-list__link">Проекты</a></li>
					<li class="nav-list__item"><a href="./resume.html" class="nav-list__link">Резюме</a></li>
					<li class="nav-list__item"><a href="./contact.html" class="nav-list__link">Контакты</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<header>

	</header>
	<main>

	</main>
	<footer>

	</footer>
</body>
</html>